.container {
   background-color: black;
}
.banner-container {
   background-color: black;
   position: relative;
   padding-bottom: 1.5rem;
   min-width: 100%;
}
.banner-img {
   width: 100%;
   min-height: 50rem;
   object-fit: cover;
}
.infoGroup {
   position: absolute;
   bottom: 30%;
   left: 2.5rem;
}
.banner-name {
   font-size: 3rem;
   color: #ff0000;
   margin-bottom: 12px;
}
.banner-overview {
   color: white;
   border-radius: 12px;
   padding: 16px;
   margin-top: 12px;
   background-color: rgba(0, 0, 0, 0.15);
   max-width: 50%;
}
.btnGroup {
   display: flex;
   padding-bottom: 5px;
}
.buttonBannerPlay {
   padding: 0.5rem 2rem;
}
.buttonBannerMyList {
   padding: 0.5rem 3rem;
}
.buttonBannerPlay,
.buttonBannerMyList {
   color: white;
   border-radius: 6px;
   font-size: 18px;
   background-color: gray;
   margin-right: 15px;
}
.buttonBannerPlay:hover,
.buttonBannerMyList:hover {
   opacity: 0.75;
   background: linear-gradient(
      to right,
      rgba(94, 114, 235, 1),
      rgba(255, 145, 144, 1),
      rgba(254, 193, 149, 1)
   ) !important;
}
